.component {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  background: #5fbce5;
  text-align: center;
  padding: 50px;
}

/* .case {
  position: absolute;
  right: 0px;
  padding-right: 30px;
  text-align: right;
} */
.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 60px;
  line-height: 54px;

  font-weight: 700;
  color: #354e98;
}

.candidate {
  color: white;
  display: block;
}
.tagline {
  font-size: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  border-top: 8px solid #b13539;
  display: inline-block;
  margin-top: 15px;
  padding-top: 5px;
  color: #354e98;
}

@media (max-width: 1000px) {
  .component {
    width: 100%;
  }
}
